@charset "UTF-8";
.сontact-cont {
  background: #ebebeb; }

.сontact-map {
  background: #026e50 url("/img/design/benefits-bg.png") 100% 0 repeat-x;
  position: relative; }
  .сontact-map .object-map {
    padding-top: 24px; }
  .сontact-map .map {
    height: 585px;
    width: 1142px; }
  .сontact-map .points {
    display: none; }
  .сontact-map .object-info {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    background: #fff;
    height: 415px;
    left: 20px;
    padding: 45px 30px 28px 33px;
    position: absolute;
    top: 59px;
    width: 497px; }
  .сontact-map .metro {
    font-style: italic; }
    .сontact-map .metro SPAN + SPAN {
      margin-left: 11px; }
    .сontact-map .metro .i-metro {
      vertical-align: top;
      display: inline-block;
      background: url("/img/icons/icons/metro.png") 0 0 no-repeat;
      height: 15px;
      width: 17px;
      margin-right: 5px;
      margin-top: 3px; }
      .сontact-map .metro .i-metro.line-1 {
        background-position: 0 0; }
      .сontact-map .metro .i-metro.line-2 {
        background-position: -17px 0; }
      .сontact-map .metro .i-metro.line-3 {
        background-position: -34px 0; }
      .сontact-map .metro .i-metro.line-4 {
        background-position: -51px 0; }
      .сontact-map .metro .i-metro.line-5 {
        background-position: -68px 0; }

.feedback-cont {
  padding: 24px 25px 24px 21px; }
  .feedback-cont .departments, .feedback-cont .feedback-block {
    background: #fff;
    position: relative; }
    .feedback-cont .departments:before, .feedback-cont .feedback-block:before {
      background: url("/img/design/news-arrow.png");
      bottom: 0;
      content: '';
      right: 0;
      height: 15px;
      position: absolute;
      width: 15px; }
    .feedback-cont .departments .col2, .feedback-cont .feedback-block .col2 {
      width: 526px; }
      .feedback-cont .departments .col2 + .col2, .feedback-cont .feedback-block .col2 + .col2 {
        margin-left: 24px;
        width: 480px; }
  .feedback-cont .departments {
    padding: 42px 30px 18px 33px; }
  .feedback-cont .feedback-block {
    padding: 42px 30px 40px 33px;
    margin-top: 21px; }
    .feedback-cont .feedback-block .col2 + .col2 {
      padding-top: 58px; }

.departments-list {
  margin-top: 40px; }
  .departments-list.lining .item {
    min-width: 276px;
    float: left; }
  .departments-list .item {
    vertical-align: top;
    display: inline-block;
    font: 14px/22px OpenSans; }

.сontact-page .a-pink, .contacts-page .a-pink {
  font-style: italic;
  text-decoration: none; }
  .сontact-page .a-pink.more-arrow, .contacts-page .a-pink.more-arrow {
    font-style: normal; }
.сontact-page .title-top, .contacts-page .title-top {
  border-bottom: 3px solid #70be45;
  color: #016a46;
  font: 18px/18px futuraDemi;
  margin-bottom: 19px;
  padding-bottom: 19px;
  text-transform: uppercase; }
.сontact-page .text-descr, .contacts-page .text-descr {
  color: #656565;
  font: 18px/22px OpenSans; }
.сontact-page .object-map-links, .contacts-page .object-map-links {
  margin-top: 14px; }
  .сontact-page .object-map-links .print-link, .contacts-page .object-map-links .print-link {
    font: 13px/17px openSans;
    margin-right: 28px;
    text-align: right;
    width: 140px; }
    .сontact-page .object-map-links .print-link I, .contacts-page .object-map-links .print-link I {
      vertical-align: top;
      display: inline-block;
      background: url("/img/icons/icons/print.png") 0 0 no-repeat;
      height: 17px;
      width: 17px;
      margin-right: 8px; }
.сontact-page .contacts-descr, .contacts-page .contacts-descr {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin-top: 31px;
  padding: 25px 0 18px; }
.сontact-page .text-title, .contacts-page .text-title {
  font: 16px/16px futuraDemi;
  margin-bottom: 3px; }
.сontact-page .contacts-qr, .contacts-page .contacts-qr {
  margin-top: 25px; }
  .сontact-page .contacts-qr .qr-descr, .contacts-page .contacts-qr .qr-descr {
    font: 13px/17px openSans;
    padding-top: 11px;
    width: 332px; }
  .сontact-page .contacts-qr .qr-hint, .contacts-page .contacts-qr .qr-hint {
    color: #959595;
    font-family: openSansItalic;
    margin-top: 14px; }

.fields-block.feedback-block .f-row .field {
  width: 154px; }
  .fields-block.feedback-block .f-row .field + .field {
    margin-right: 19px;
    width: 320px; }
    .fields-block.feedback-block .f-row .field + .field INPUT {
      width: 304px; }
  .fields-block.feedback-block .f-row .field INPUT {
    width: 134px; }
.fields-block.feedback-block TEXTAREA {
  width: 474px; }
.fields-block.feedback-block INPUT[type="text"], .fields-block.feedback-block INPUT[type="password"] {
  width: 490px; }
.fields-block .buttons .a-btn-green {
  width: 215px; }

/*# sourceMappingURL=contacts.css.map */
