/data/*
/cache/*
/logs/*
/.idea/*
/nbproject/
/cache/
/data
/data/
/logs/
/robots.txt
/sitemap.xml
/.nb/
tests/_output/*
.sass-cache/
*.css.map
/vendor/
/composer.lock
/Config.php
/DevConfig.php
.DS_Store
/node_modules
package.json
gulpfile.js
/includes/dompdf/lib/fonts/log.htm
/includes/dompdf/lib/fonts/*.php