@import '../../../css/vars';

.categories-presentation {
	 
	.categories-presentation-header {
		border-bottom:1px solid #ebebeb;
		padding: 29px;
		margin:0 0 -1px 0;	
	}
	.categories-wrapper {
		position:relative;
		&:before, &:after {
			position:absolute;
			content:"";
			top:0;
			width:1px;
			bottom:0;
			background:#ebebeb;
		}
		&:before {
			left:290px;
		}
		&:after {
			left:580px;
		}
	}
	.single-category-header {
		color:#155c88;
		text-transform:uppercase;
		margin:0 0 8px;
	}
	.single-category {
		@include border-box;
		width:290px;
		min-height:330px;
		padding:30px 30px 37px;
		&:hover {
			@include shadow(0px 7px 15px 0px rgba(0, 0, 0, 0.11));
		}
	}
	.single-category-img {
		margin: 0 0 22px;
	}
	.sub-categories-list {
		LI {
			display:inline;
			
			margin:0 2px 0 0;
			A {
				padding:0 9px 0 0;
				background: url("/img/icons/black-bullit.png") right center no-repeat;				
			}
			&.m-no-bullit {
				A {
					background:none;
				}
			}			
		}		
/*		width:183px;
		height:51px;*/
		.i-black-bullit {
			vertical-align:middle;
			padding:0 6px 2px;
		}

	}
	.inner-wrapper {
		border-bottom:1px solid #ebebeb;
	}
}



