@import '../../../css/vars';

/*****************Breadcrumbs******************/

.breadcrumbs {
    color:black;
    .page-aside & {
        margin:0 30px 28px;    
    }
    .single-crumb {
        &:first-child:before {
            content:none;
        }
        &:before {
            content:"\2014";
            padding:0 7px;
        }
    }
}

.items-list-cont .empty-result {margin: 30px;}