@import url("/css/info-block.css");
.presentation {
  padding-bottom: 6px;
  margin-top: -20px;
  overflow: hidden; }

.promo-titles {
  color: #005b9f;
  font: 12px/14px Arial;
  margin: 0 auto;
  position: relative;
  width: 1000px; }

.promo-titles-carousel {
  position: relative;
  width: 100%;
  z-index: 2; }

.presentation .a-left, .presentation .a-right {
  background: url("/img/design/arrow.png") 0 0 no-repeat;
  cursor: pointer;
  height: 12px;
  margin: 5px 0;
  width: 9px; }

.presentation .a-right {
  background-position: -9px 0; }

.presentation .a-left {
  background-position: 0 0;
  margin-right: 20px; }

.promo-title {
  cursor: pointer;
  margin-right: 23px;
  width: 170px;
  height: 38px;
  padding: 20px 0;
  vertical-align: middle; }

.promo-titles .m-current {
  position: relative;
  cursor: default; }

.promo-titles .m-current A {
  color: #101010; }

.promo-titles .m-current:after {
  background: url("/img/icons/promo-arrow.png") 0 no-repeat;
  content: "";
  display: block;
  height: 60px;
  left: 35%;
  position: absolute;
  bottom: -35px;
  width: 52px; }

.presentation .blue-arrows .arrow-cont {
  position: absolute;
  background: #fff;
  cursor: pointer;
  padding-top: 11px;
  height: 23px;
  width: 30px;
  z-index: 3;
  top: 40%; }

.presentation .blue-arrows .arrow-cont.m-inactive {
  display: none; }

.presentation .blue-arrows .car-prev {
  -webkit-border-radius: 0 17px 17px 0;
  -moz-border-radius: 0 17px 17px 0;
  border-radius: 0 17px 17px 0;
  padding-left: 12px;
  width: 18px;
  left: 0; }

.presentation .blue-arrows .car-next {
  -webkit-border-radius: 17px 0 0 17px;
  -moz-border-radius: 17px 0 0 17px;
  border-radius: 17px 0 0 17px;
  padding-left: 10px;
  width: 20px;
  right: 0; }

.presentation .promo-images {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  height: 439px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.presentation .promo-images LI {
  float: left; }

.presentation .promo-image {
  overflow: hidden;
  display: block; }

.promo-images .promo-image IMG {
  position: relative;
  min-width: 100%;
  display: block; }

.item-main-block-wrapper {
  background: url("/img/design/product-shine.png") 50% 50% no-repeat #9ab9cb; }

.item-main-block-sub-wrapper {
  background: url("/img/design/item-circle.png") 50% 50% no-repeat; }

.item-main-block {
  /*    background:url("/img/design/item-circle.png") 50% 50% no-repeat #9ab9cb;*/
  position: relative;
  min-height: 566px;
  padding: 32px 0;
  color: #000; }
  .item-main-block .item-col {
    padding: 0 30px;
    width: 230px; }
    .item-main-block .item-col.m-right-col {
      -webkit-box-shadow: rgba(153, 184, 203, 0.4) -1px 0px 0px 0px;
      -moz-box-shadow: rgba(153, 184, 203, 0.4) -1px 0px 0px 0px;
      box-shadow: rgba(153, 184, 203, 0.4) -1px 0px 0px 0px;
      min-height: 566px; }
  .item-main-block .item-gallery-col {
    position: relative;
    width: 522px; }
  .item-main-block .item-bottom-links {
    -webkit-box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px;
    -moz-box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px;
    box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px;
    position: absolute;
    padding-top: 25px;
    width: 230px;
    bottom: 32px;
    left: 30px; }
    .item-main-block .item-bottom-links .bottom-link + .bottom-link {
      margin-top: 12px; }
  .item-main-block .item-code {
    margin-top: 25px; }

.item-variants-select {
  margin: 25px 0; }
  .item-variants-select .variants-select-cloud {
    -webkit-box-shadow: 0 8px 15px -3px #7d0622;
    -moz-box-shadow: 0 8px 15px -3px #7d0622;
    box-shadow: 0 8px 15px -3px #7d0622;
    background: -webkit-linear-gradient(top, #ee766f 0%, #cd3144 100%);
    background: -moz-linear-gradient(top, #ee766f 0%, #cd3144 100%);
    background: -ms-linear-gradient(top, #ee766f 0%, #cd3144 100%);
    background: -o-linear-gradient(top, #ee766f 0%, #cd3144 100%);
    background: linear-gradient(to bottom, #ee766f 0%, #cd3144 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px #ca4444;
    font: bold 13px/18px Arial;
    text-align: center;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    color: #fff; }
    .item-variants-select .variants-select-cloud:after {
      background: url("/img/design/variants-select-arrow.png") 50% 0 no-repeat;
      position: absolute;
      bottom: -7px;
      content: '';
      height: 7px;
      width: 100%;
      left: 0; }
  .item-variants-select .variants-select-block {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    margin-top: 9px;
    cursor: pointer; }
  .item-variants-select .variant-titles {
    font: 18px/20px 'proximanova-bold';
    position: relative;
    overflow: hidden;
    padding: 0 13px;
    height: 60px;
    width: 142px;
    float: left; }
    .item-variants-select .variant-titles .title {
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: relative;
      top: 50%; }
  .item-variants-select .arrows {
    background: #155c88;
    overflow: hidden;
    float: right;
    width: 60px; }
    .item-variants-select .arrows > * {
      position: relative;
      height: 60px;
      width: 30px; }
      .item-variants-select .arrows > *:hover {
        background: -webkit-linear-gradient(top, #2375a8 0%, #155c88 100%);
        background: -moz-linear-gradient(top, #2375a8 0%, #155c88 100%);
        background: -ms-linear-gradient(top, #2375a8 0%, #155c88 100%);
        background: -o-linear-gradient(top, #2375a8 0%, #155c88 100%);
        background: linear-gradient(to bottom, #2375a8 0%, #155c88 100%); }
      .item-variants-select .arrows > * I {
        background: url("/img/design/variants-select-change.png") 0 0 no-repeat;
        margin: 28px auto 0;
        display: block;
        height: 7px;
        width: 4px; }
    .item-variants-select .arrows .arrow-prev {
      float: left; }
      .item-variants-select .arrows .arrow-prev I {
        background-position: 0 0; }
    .item-variants-select .arrows .arrow-next {
      float: right; }
      .item-variants-select .arrows .arrow-next:before {
        background: #2d6d94;
        position: absolute;
        height: 40px;
        content: '';
        width: 1px;
        top: 10px;
        left: 0; }
      .item-variants-select .arrows .arrow-next I {
        background-position: -4px 0; }

.item-gallery {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-top: 25px;
  overflow: hidden;
  height: 520px; }
  .item-gallery .arrows DIV {
    background: url("/img/icons/gallery-arrows.png") 0 0 no-repeat;
    position: absolute;
    cursor: pointer;
    height: 53px;
    width: 53px;
    top: 236px;
    z-index: 3; }
    .item-gallery .arrows DIV.arrow-prev {
      background-position: 0 0;
      left: 16px; }
    .item-gallery .arrows DIV.arrow-next {
      background-position: -53px 0;
      right: 13px; }
  .item-gallery .item-images {
    position: relative;
    height: 522px; }
    .item-gallery .item-images .img {
      position: absolute;
      left: 0;
      top: 0; }

.variant-markers-list {
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 0; }
  .variant-markers-list .marker {
    vertical-align: top;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #7caac5;
    background: #e6eef3;
    text-align: center;
    position: relative;
    cursor: default;
    height: 56px;
    width: 56px; }
    .variant-markers-list .marker.m-recomend {
      border-color: #ec675f;
      color: #ec675f; }
      .variant-markers-list .marker.m-recomend > I {
        vertical-align: top;
        display: inline-block;
        background: url("/img/icons/marker-recomend.png") 0 0 no-repeat;
        height: 27px;
        width: 29px;
        margin-top: 13px; }
    .variant-markers-list .marker.m-new {
      font: 20px/56px 'proximanova_exbold';
      border-color: #7caac5;
      color: #7caac5; }
    .variant-markers-list .marker .help {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font: 13px/18px 'proximanova-bold';
      border: 2px solid #ec675f;
      position: absolute;
      background: #fff;
      color: #ec675f;
      height: 17px;
      width: 17px;
      right: -5px;
      top: -5px; }
  .variant-markers-list .marker + .marker {
    margin-left: 10px; }

.item-variant .variant-title {
  margin-bottom: 10px; }
.item-variant .variant-title-btn {
  vertical-align: top;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 18px/22px 'proximanova-bold';
  margin-left: -10px;
  margin-bottom: 0;
  padding: 4px 10px;
  cursor: pointer; }
  .item-variant .variant-title-btn:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3); }
  .item-variant .variant-title-btn I {
    margin-top: 6px; }
.item-variant .variant-bonus {
  line-height: 24px;
  margin: 7px 0; }
.item-variant .variant-delivery {
  margin-top: 20px; }
  .item-variant .variant-delivery .tab-page {
    min-height: 75px; }
  .item-variant .variant-delivery .descr {
    font: italic 12px/15px Arial;
    margin-top: 3px;
    color: #646464; }
.item-variant .variant-available {
  -webkit-box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px, rgba(153, 184, 203, 0.4) 0px 1px 0px 0px;
  -moz-box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px, rgba(153, 184, 203, 0.4) 0px 1px 0px 0px;
  box-shadow: rgba(153, 184, 203, 0.4) 0px -1px 0px 0px, rgba(153, 184, 203, 0.4) 0px 1px 0px 0px;
  /*		border-bottom: 1px solid #b8cedb;
  		border-top: 1px solid #b8cedb;*/
  padding: 9px 0;
  margin: 10px 0; }
.item-variant .variant-count {
  margin: 20px 0 16px; }

.site-body {
  border-bottom: 1px solid #ebebeb; }

.aside-block {
  margin: 0 30px 32px; }
  .aside-block + .aside-block {
    border-top: 1px solid #ebebeb;
    padding-top: 30px; }

.item-block + .item-block {
  margin-top: 30px; }

.item-specs-block {
  margin: 36px 0 40px 30px;
  width: 520px; }

.specs-table {
  color: #000;
  width: 100%; }
  .specs-table TD {
    padding: 8px 20px 8px 0;
    vertical-align: top; }
    .specs-table TD:first-child {
      color: #8d8d8d;
      width: 230px; }
    .specs-table TD.small {
      width: 16px; }
  .variant-specs-table .specs-table TD,
  .specs-table TR + TR TD {
    border-top: 1px solid #ebebeb; }

.item-post .annotation {
  font: 18px/20px 'proximanova-bold';
  margin-bottom: 12px;
  color: #929292; }

.item-analogs .goods-tabs {
  padding-left: 280px; }
.item-analogs .goods-carousel-wrapper .goods-portion {
  padding-bottom: 0; }

.buy-cheaper {
  position: relative; }
  .buy-cheaper:hover {
    cursor: pointer; }
  .buy-cheaper .cheap-header {
    margin: 0 0 8px; }
  .buy-cheaper .cheap-dialog {
    -webkit-box-shadow: rgba(102, 140, 163, 0.8) 0px 2px 9px 0px;
    -moz-box-shadow: rgba(102, 140, 163, 0.8) 0px 2px 9px 0px;
    box-shadow: rgba(102, 140, 163, 0.8) 0px 2px 9px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 247px;
    position: absolute;
    top: -15px;
    left: -17px;
    z-index: 999;
    background: white;
    padding: 15px 8px 8px 17px;
    /*color:$navy-blue;*/ }
  .buy-cheaper .cheap-list LI {
    /*border-top:1px solid $bright-grey;*/
    padding: 4px 0 8px; }
    .buy-cheaper .cheap-list LI:first-child {
      border-top: none; }
  .buy-cheaper .cheap-list A:hover {
    text-decoration: underline; }
  .buy-cheaper .cheap-list .a-link:hover {
    text-decoration: underline; }

.popup-price-changing .normal-form LABEL, .popup-more-goods .normal-form LABEL, .popup-income-info .normal-form LABEL {
  margin: 0 0 7px;
  display: block; }
.popup-price-changing .normal-form INPUT, .popup-more-goods .normal-form INPUT, .popup-income-info .normal-form INPUT {
  width: 100%;
  height: 39px;
  /*margin:0 0 12px;*/
  display: inline-block; }
.popup-price-changing .normal-form .mail-field-notify, .popup-more-goods .normal-form .mail-field-notify, .popup-income-info .normal-form .mail-field-notify {
  color: #8c8c8c;
  margin: 0 0 20px; }
.popup-price-changing .normal-form .goods-amount, .popup-more-goods .normal-form .goods-amount, .popup-income-info .normal-form .goods-amount {
  width: 85%; }

.more-goods-handler {
  cursor: pointer; }

.income-info:hover {
  cursor: pointer; }

.month-order-amount {
  font-style: italic;
  font-size: 12px;
  color: #646464; }

/*# sourceMappingURL=viewItem.css.map */
