/* Bebas */
@font-face {
    font-family: 'bebas';
    src: url('{$tmp_path}project/fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_book';
    src: url('{$tmp_path}project/fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Gotham */
@font-face {
    font-family: 'gotham';
    src: url('{$tmp_path}project/fonts/GothaProReg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_medium';
    src: url('{$tmp_path}project/fonts/GothaProMed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_black';
    src: url('{$tmp_path}project/fonts/GothaProBla.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}

/* School Book */
@font-face {
    font-family: 'school_book_italic';
    src: url('{$tmp_path}project/fonts/scb56.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 /* Angelecia */
@font-face {
    font-family: 'anglecia_italic';
    src: url('{$tmp_path}project/fonts/angleciaprodisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'vars';
@import 'buttons_pdf';

@page {margin: 0;}
BODY {
	background: #fff;
    width: 297mm;
	color: #000;
	padding: 0;
	margin: 0;
	SUP {
		line-height: 0.2em;
		font-size: 0.8em;
        letter-spacing: normal;
	}
}
.page {
	page-break-before: always;
	overflow: hidden;
	&.m-first {page-break-before: auto;}
}
A {text-decoration: none;}
.title {
	font-family: anglecia_italic;
	letter-spacing: -.01em;
	font-size: 44px;
	SPAN {
		text-transform: uppercase;
		font-family: gotham_black;
		letter-spacing: -.01em;
		font-size: 36px;
	}
}
.main {
	text-transform: uppercase;
	letter-spacing: .36em;
	font-family: bebas;
	font-size: 18px;
}

.pdf-header {
	border-top: 12px solid $color-dark-magenta;
	margin-bottom: 18px;
	text-align: center;
	padding-top: 36px;
	display: block;
	&.m-sand {border-color: $color-dark-sand;}
	SPAN {
		color: $color-dark-magenta;
		vertical-align: middle;
		letter-spacing: .45em;
		font-family: bebas;
		line-height: 34px;
		font-size: 14px;
	}
	IMG {
		vertical-align: middle;
		margin-right: 15px;
	}
}

.pdf-item {
	margin: 0 30px;
	width: auto;
	TABLE {
		width: 100%;
		TD {vertical-align: top;}
	}
	.row-top {
		border-bottom: 2px solid $color-sand;
		padding-bottom: 10px;
		margin-bottom: 30px;
		text-align: left;
		&.m-noborder {
			padding-bottom: 0;
			border: none;
		}
	}
	.title {
		text-transform: uppercase;
		font-family: gotham_black;
		line-height: 40px;
		font-size: 36px;
		text-align: left;
	}
	.price {
		text-transform: uppercase;
		letter-spacing: .1em;
		font-family: bebas;
		line-height: 26px;
		font-size: 26px;
	}
	.price_per_m {
		font-family: school_book_italic;
		letter-spacing: 0;
		line-height: 15px;
		font-size: 14px;
	}
	.pdf-special {
		font-family: gotham_medium;
		text-transform: uppercase;
		margin: 18px 0 12px;
		border-spacing: 6px;
		line-height: 20px;
		font-size: 16px;
		width: 100%;
		.special-main {
			background: #cfb27b;
			text-align: center;
			padding: 10px 0;
			color: #111111;
			width: 90px;
		}
		.special-text {
			border-bottom: 2px solid $color-sand;
			border-top: 2px solid $color-sand;
			padding: 8px 10px;
		}
	}
	.item-cover {
		margin-bottom: 20px;
		background: #efefef;
		text-align: center;
		padding: 18px 20px;
		min-height: 100px;
        max-height: 330px;
        height: auto;
		.img {
		}
	}
	.consultant {
		margin-bottom: 40px;
		.photo {
			width: 120px;
			DIV {
				border-radius: 60px;
				overflow: hidden;
				height: 120px;
				width: 120px;
			}
			IMG {
				min-width: 100%;
				height: 100%;
			}
		}
		.text {
			padding-left: 20px;
			padding-top: 20px;
			text-align: left;
			.name {
				text-transform: uppercase;
				letter-spacing: .1em;
				font-family: bebas;
				font-size: 26px;
			}
			.phone {
				font-family: gotham_black;
				font-size: 16px;
			}
			.email {
				font-family: gotham;
				font-size: 14px;
				color: #272127;
			}
			.function {
				font-family: school_book_italic;
				line-height: 1em;
				font-size: 14px;
				margin-top: 4px;
			}
		}
	}
	.small-schemes {
		padding-left: 20px;
		.parent-scheme {
			margin-bottom: 24px;
			text-align: center;
		}
		.main {
			letter-spacing: .1em;
			margin-bottom: 18px;
			font-size: 16px;
		}
		IMG {
			width: 126px;
			height: auto;
		}
	}
	.item-features {
		color: $color-dark-sand;
		letter-spacing: .06em;
		font-family: bebas;
		line-height: 1.2em;
		font-size: 16px;
		margin-bottom: 12px;
		padding: 0 50px;
	}
	.opt-table {
		padding: 0 50px 0 75px;
		.opt-col {
			border-top: 1px solid #f1f1f1;
			letter-spacing: .06em;
			font-family: bebas;
			line-height: 1.4em;
			font-size: 16px;
			text-align: right;
			padding: 6px 0;
			color: #b8b8b8;
			width: 42%;
		}
		.opt-col.m-right {
			padding-left: 30px;
			text-align: left;
			color: #272127;
			width: 58%;
		}
	}
	.buttons {
		margin: 10px 0 50px;
		.opt-col {
			text-align: right;
			padding-top: 10px;
			border: none;
			height: 50px;
		}
		.m-sand {
			letter-spacing: .12em;
			text-align: center;
			padding: 12px 5px;
			font-size: 14px;
			display: block;
			color: #000;
		}
	}
}

.center-title {
	margin: 0 30px 50px;
	text-align: center;
	.main {
		margin-bottom: 10px;
		color: #919191;
	}
	.title {
		text-transform: uppercase;
		font-family: gotham_black;
		margin-bottom: 8px;
		font-size: 36px;
	}
	.big-descr {
		text-transform: uppercase;
		letter-spacing: .15em;
		font-family: gotham;
		font-size: 16px;
		margin-bottom: 4px;
		I {
			text-decoration: line-through;
			letter-spacing: 2em;
			color: #e2e2e2;
			margin: 0 4px;
			width: 120px;
		}
	}
	.small-descr {
		font-family: school_book_italic;
		font-size: 14px;
	}
	.annotation {
		margin-top: 26px;
		DIV {
			background: $color-dark-sand;
			margin: 0 auto 18px;
			width: 100px;
			height: 6px;
		}
		P {
			font-family: school_book_italic;
			letter-spacing: -.03em;
			line-height: 24px;
			font-size: 22px;
			margin: 0;
		}
	}
}
.specs-row {
	background: $color-dark-magenta;
	padding: 20px;
	margin: 3px 0;
	TABLE {width: 100%;}
	TD {
		vertical-align: middle;
		text-align: center;
		width: 10px;
		color: #fff;
		padding: 0;
	}
	.border {
		font-family: bebas_book;
		line-height: 50px;
		font-size: 64px;
		padding: 0 6px;
		color: #847d84;
		width: 25px;
	}
	.sp-main {
		font-family: anglecia_italic;
		white-space: nowrap;
		line-height: 28px;
		font-size: 32px;
		SPAN {color: $color-dark-sand;}
	}
	.sp-descr {
		text-transform: uppercase;
		letter-spacing: .1em;
		white-space: nowrap;
		font-family: bebas;
		line-height: 16px;
		font-size: 14px;
		margin-top: 4px;
		color: #847d84;
	}
}
.gallery {
	TABLE {
		vertical-align: top;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}
	TD {
		width: 25%;
		padding: 1px;
		IMG {
			width: 275px;
			height: auto;
		}
	}
	TD[colspan="2"] {
		width: 50%;
		IMG {width: 563px;}
	}
}
.center-price {
	text-align: center;
	margin: 50px 0 20px;
	width: 100%;
	.price-wrap {
		border: 2px solid #e2e2e2;
		padding: 12px 16px;
		width: 250px;
	}
	.price {
		letter-spacing: .1em;
		font-family: bebas;
		font-size: 26px;
	}
	.price_per_m {
		border-top: 1px solid #e2e2e2;
		font-family: school_book_italic;
		font-size: 14px;
		padding-top: 5px;
		margin-top: 5px;
	}
}