@import url("/css/paging.css");

.main-content .page-center {padding-top: 10px;}
.post-cont {
	border: 1px solid #dbdce6;
	padding: 34px 40px 50px;
	position: relative;
	background: #fff;
}

.edited-text {
	border: 1px solid #dbdce6;
	padding: 26px 26px 30px;
	position: relative;
	width: 632px;
}
.edited-text:before {
	background: #fff url("/img/design/review-item-bg.png") 50% 0 no-repeat;
	position: absolute;
	bottom: -10px;
	height: 10px;
	width: 100%;
	content: '';
	left: 0;
}

.aside-content {width: 286px;}
.types-list-cont {
	margin-bottom: 40px;
	position: relative;
}
.types-list-cont H3 {margin: 0;}
.types-list-cont H3 DIV {
	font: bold 16px/38px openSans;
	margin-bottom: -1px;
	background: #000;
	padding: 0 14px;
	height: 38px;
	color: #fff;
}
.types-list {border: 1px solid #dbdce6;}
.related-type + .related-type {border-top: 1px dotted #dbdce6;}
.related-type > A {
	position: relative;
	padding: 5px 10px;
	overflow: hidden;
	display: block;
	height: 80px;
}
.related-type .hatch {
	background: url("/img/design/search-type-big-bg.png") 50% no-repeat;
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 2;
	left: 0;
	top: 0;
}
.related-type:hover .hatch {display: block;}
.related-type .cover {
	margin-right: 14px;
	display: block;
	height: 80px;
	width: 66px;
	float: left;
}
.related-type .cover IMG {
	max-height: 100%;
	max-width: 100%;
	display: block;
}
.related-type .title {
	text-transform: uppercase;
	font: 18px/20px openSans;
	margin-bottom: 6px;
	margin-top: 22px;
	display: block;
	color: #d42050;
	display: block;
}
.related-type:hover .title {color: #2f619d;}
.related-type .count {
	font: italic 12px/12px Arial;
	color: #a4a4a4;
}
.verticalList .aside-items {
	background: #fff url("/img/design/catalog-belt-bg.png") 0 0 repeat;
	border: 1px solid #dbdce6;
	padding-left: 32px;
	overflow: hidden;
}
.verticalList .catalog-item {float: none;}
.verticalList .catalog-item:before {
	background: url("/img/design/block-shadow.png") 0 0 repeat-x;
	position: absolute;
	bottom: -17px;
	height: 17px;
	width: 290px;
	content: '';
	z-index: 5;
	left: -35px;
}
.verticalList .catalog-item .markers {display: none;}

.float-articles {
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 46, .2);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 46, .2);
	box-shadow: 0 0 4px 1px rgba(0, 0, 46, .2);
	padding: 22px 30px 18px 66px;
	font: 12px/16px Arial;
	margin-left: -40px;
	position: absolute;
	background: #fff;
	color: #67727e;
	width: 178px;
	bottom: 15px;
}
.float-articles.m-fixed {position: fixed;}
.browser-oldie .float-articles {border: 1px solid #dbdce6;}
.float-articles .close {
	background: url("/img/icons/input-clean.png") 0 0 repeat;
	position: absolute;
	cursor: pointer;
	height: 16px;
	width: 16px;
	right: 24px;
	top: 22px;
}
.float-articles .close:hover {background-position: -16px 0;}
.float-articles H4 {
	font: italic 12px/16px Arial;
	margin: 0 0 14px;
	color: #a4a4a4;
}
.float-articles .art-list LI + LI {margin-top: 8px;}
.bottom-line {
	position: absolute;
	bottom: 5px;
}