#number-filter TEXTAREA {height: 89px;}
.select-file-type {
	border-top: 2px solid #1353AA;
	height: 32px;
}
.select-file-type .title {
	font: bold 18px/32px openSans;
	text-shadow: 0 1px #fff;
	vertical-align: top;
	margin-right: 15px;
	color: #42667b;
}
.select-file-type .chosen {width: 640px;}
.select-file-type .chzn-container.chzn-container-single .chzn-single {
	font: bold 18px/32px openSans;
	height: 32px;
}

.files_list TD {
	padding: 14px;
	height: auto;
}
.files_list TD.td-title {color: #848484;}
.files_list TD .small-descr {white-space: nowrap;}
.files_list TD .small-descr.orange {color: #ff6204;}
.files_list TD .small-descr.red {color: #ff2a00;}

.files-popup .ribbed TD {vertical-align: top;}
.files-popup .ribbed TD.v-center {vertical-align: middle;}
.files-popup .ribbed .td-title {line-height: 26px;}
.ords-list .origin {display: none;}
.ords-list .org-item {margin-bottom: 5px;}
.ords-list .org-item INPUT {width: 380px;}
.ords-list .org-item .delete {
	position: relative;
	margin-left: 5px;
	top: 3px;
}
.ords-list .add-value INPUT {
	border: 1px dashed #ABADB3;
	background: none;
	width: 380px;
}
.ords-list .add-value INPUT:hover {border-color: #018CE5;}
.ords-list .add-value INPUT:focus {
	border: 1px solid #e2e3ea;
	border-top-color: #abadb3;
	background: #fff;
}
.ords-list .add-value .add {
	position: relative;
	margin-left: 5px;
	top: 3px;
}

.num-area.tagit {
	border: 1px solid #E2E3EA;
	border-top-color: #ABADB3;
	font: 12px/25px openSans;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 8px 0;
	min-height: 100px;
	background: #fff;
	width: auto;
	color: #000;
}
.num-area.tagit .tagit-new {padding: 0;}
.num-area.tagit .tagit-choice {
	background: #d2e5ff;
	background: -webkit-linear-gradient(top, #e9f2ff 0%, #c2dcff 100%);
	background: -moz-linear-gradient(top, #e9f2ff 0%, #c2dcff 100%); 
	background: -ms-linear-gradient(top, #e9f2ff 0%, #c2dcff 100%);  
	background: -o-linear-gradient(top, #e9f2ff 0%, #c2dcff 100%); 
	background: linear-gradient(to bottom, #e9f2ff 0%, #c2dcff 100%);
	-webkit-transition: all .2s linear;
	-moz-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
	text-shadow: 0 1px #e1eeff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0 22px 0 8px;
	font-style: italic;
	cursor: default;
	color: #0171b9;
}
.num-area.tagit .tagit-choice.m-error {
	background: #FFC2C2;
	background: -webkit-linear-gradient(top, #FFE9E9 0%, #FFC2C2 100%);
	background: -moz-linear-gradient(top, #FFE9E9 0%, #FFC2C2 100%); 
	background: -ms-linear-gradient(top, #FFE9E9 0%, #FFC2C2 100%);  
	background: -o-linear-gradient(top, #FFE9E9 0%, #FFC2C2 100%); 
	background: linear-gradient(to bottom, #FFE9E9 0%, #FFC2C2 100%);
	border-color: #FFC8C8;
	text-shadow: none;
	color: #B40B0B;
}
.num-area.tagit .tagit-choice .tagit-close {
	background: url("/templates/Admin/img/file-num-remove.png") 50% no-repeat;
	height: 15px;
	width: 15px;
	padding: 0;
	top: 5px;
}
.num-area.tagit .tagit-choice.m-error .tagit-close {opacity: .6;}